* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))

*/

html {
    background: rgba(0, 0, 0, 0) url("../images/background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
    color: darkgray;
}


/*img {
    margin-top: 50px;
}*/

.search-container {
    background-color: darkkhaki;
    margin: 1em auto;
    max-width: 900px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

h1 {
    color: brown;
    font-size: 35px;
    margin-bottom: 15px;
}

#top-rated,
#popular-items,
#price {
    padding: 8px;
}

#search-button {
    border-radius: 3px;
    border: 1px solid;
    display: block;
    cursor: pointer;
    color: darkgray;
    font-family: arial;
    font-size: 1.5em;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px grey;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.results-container ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.results-container ul li {
    width: 31%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: url("../images/transparent.jpg");
    padding: 2rem;
    border-radius: 10px;
}

.results-container ul li h2 {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 1rem;
}

.results-container ul li h3 {
    color: whitesmoke;
    font-style: italic;
    font-size: 0.8rem;
}

.product-image {
    width: 100%;
    height: 12rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center center;
}
